html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Oswald', sans-serif;
}

    .home-page {
        background-color: rgba(0, 0, 0, 0.8);
        width: 100%;
      
    }
    .home-page-content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 6em 10em 6em;
    align-self: center;
    color: whitesmoke;
    gap:5rem;


 }
    .home-page-content p {

    margin-right: auto;
    color: slategray;

